@media screen and (max-width: 1000px) {
    p {
        font-size: 0.9rem;
        line-height: 1.8rem;
    }
}

@media screen and (max-width: 880px) {
    * {
        color: black;
    }
    .wrapper {
        flex-direction: column;
    }
    .maps.box {
        width: 100%;
        padding: 10px 0;
    }
}

@media screen and (max-width: 825px) {
    /* Burger */
    .burger {
        display: block;
        cursor: pointer;
    }

    /* Navigation */
    nav {
        position: fixed;
        width: 50%;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background-color: #fff;
        border-left: 1px solid #f1f1f1;
        z-index: 9;
        transform: translateX(100%);
        transition: 0.2s ease-in-out;
    }
    nav ul {
        height: 100vh;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .nav-active {
        transform: translate(0);
    }
    :root {
        --sectionPadding:var(--sectionPadding) 4rem 0;
    }
    .section-title {
        font-size: 1.6rem;
        margin: 0.6rem 0 2.5rem;
    }
    .pre-title {
        font-size: 0.8rem;
    }

    /* Hero Section */
    #hero {
        grid-template-columns: 1fr;
        height: fit-content;
    }
}

@media screen and (max-width: 640px) {
    .section-title {
        font-size: 1.3rem;
    }
    .pre-title {
        font-size: 0.7rem;
    }
}
